@media only screen and (min-width: 750px) {
  body {
    width: 100%;
  }

  .headline {
    background-image: url("../img/19.svg");
    background-size: contain;
  }

  .header-text {
    height: 150px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .nav-right {
    float: right;
    width: 40%;
    height: 12px;
    padding-right: 35px;
  }

  nav > ul {
    display: inline;
  }

  nav > ul > li {
    display: inline;
    margin-left: 13%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  nav > img {
    display: none;
  }
}
