body {
  background: #f7f7f9;
  width: 375px;
}

.headline {
  background-image: url("../img/02.svg");
  background-repeat: no-repeat;
  height: 718px;
  width: 375px;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.header-text {
  padding-top: 100px;
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: auto;
}

.paragraph-text {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
}

.connect-text {
  width: 127px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 24px;
}

.the-icon-list {
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding-left: 24px;
}

.the-icon-list > li {
  display: inline;
  list-style: none;
}

.the-icon-list > li > a {
  padding-right: 15px;
  text-decoration: none;
}

.logo-left {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  float: left;
  padding-left: 24px;
}

.nav-right {
  float: right;
  width: 18px;
  height: 12px;
  padding-right: 35px;
}

.top-header {
  margin-top: 12px;
}

.snapshoot-portfolio {
  width: 295px;
  height: 220px;
  background: url("../img/07.png");
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: auto;
}

.card-works {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 572px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: auto;
  margin-bottom: 80px;
}

.content-portfolio > h1 {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 16px;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
  display: inline;
  padding-left: 16px;
}

.no-canopy {
  width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: inline;
  padding-left: 10px;
}

.content-portfolio > p {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 16px;
}

.components-used {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-left: 16px;
}

.components-used > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 16px;
}

.dot-box {
  display: inline;
  width: 8px;
  height: 1px;
  flex: none;
  order: 1;
  flex-grow: 0;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.details-portfolio {
  padding-left: 1px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  left: calc(50% - 375px / 2);
  top: 3506px;
  width: 375px;
  height: 1263px;
  background: #fff;
  transform: rotate(-180deg);
}
